{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
<div class="text-center md-5">
    <h2 class="fw-bold">My skills</h2>
    <p class="text-muted">Here are some of the skills I've developed:</p>
</div>
<div class="row">
    <div class="col-md-6 mb4">
        <div class="card shadow-sm border-0 p-4 h-100">
            <h3 class="text-prinary mb-3">Hard Skills</h3>
                <ul class="list-group list fs-5">
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        Python(OOP, Basic)
                    </li>
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        Django Framework
                    </li>
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        HTML & CSS
                    </li>
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        Git & GitHub
                    </li>
                </ul>
        </div>
    </div>
    <div class="col-md-6 mb4">
        <div class="card shadow-sm border-0 p-4 h-100">
            <h3 class="text-prinary mb-3">Hard Skills</h3>
                <ul class="list-group list fs-5">
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        Time-Manage
                    </li>
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        Communicative
                    </li>
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        Critical Thinking
                    </li>
                    <li class="list-group-item d-flex justyfy-content-between align-items-center">
                        Open Mind
                    </li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}